body {
    font-family: 'Helvetica Neue' Arial, sans-serif;
    background-position: center;
    background-image: url("/images/stickers.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;}

.container {
    background-image: url("{{url_for('static',filename='images/stickers.jpg')}}");
    background-size: cover;
    background-position: center;
    background-position: no-repeat;
   
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

h1 {
    color: #e50914;
    text-align: center; 
    font-size: 3em;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7); 
    border-bottom: 2px solid #e50914;
}

h2 {
    text-align: center;
    font-size: 2em;
    color: #e50914;
    margin-top: 30px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    border-bottom: 3px solid #e50914;
}

p.message {
    text-align: center;
    font-size: 1.2em;
    color: #ffffff;
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6); /* Dark background for contrast */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #e50914;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #ffffff;
    color: #e50914;
    transform: scale(1.05);
}

label {
    display:block;
    margin-bottom: 10px;
    color: #e50914;
    font-weight: bold;
    font-size: 1.2em;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    padding: 10px;
    border: 1px solid #e50914;
    border-radius: 4px;
    margin-bottom: 10px;
    background-attachment: #1c1c1c;
    color: #ffff;
    font-size: 1em;
    width: 100%;
    background-color: #1c1c1c;
}

input[type="submit"] {
    padding: 10px;
    background-color: #e50914;
    color: #fff;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ffffff;
    color: #e50914;
}

a {
    color: #e50914;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
    text-shadow: 0 0 10px #e50914;
}
